name: Deploy Node App

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Copy files to server
      uses: appleboy/scp-action@v0.1.4
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SERVER_KEY }}
        source: "./"
        target: "/home/ubuntu/mywebsite"

    - name: Restart Node App in Docker
      uses: appleboy/ssh-action@v0.1.9
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SERVER_KEY }}
        script: |
          cd /home/ubuntu/mywebsite
          docker stop mywebsite || true
          docker rm mywebsite || true
          docker build -t mywebsite .
          docker run -d -p 80:8000 --name mywebsite mywebsite
